@font-face {
    font-family: ARCADE;
    src: url(../css/ARCADE.TTF);
}

.page {
    background-color: black;
    text-align: center;
    z-index: 10;
    position: relative;
    height: 100%;
    width: 100%;
    font-family: ARCADE;
    font-size: 28px;

}

span {
    color: red;
}

h4 {
    font-size: 48px !important;
}

.jouez {
    z-index: 100;
    position: absolute;
    margin-top: 12.6%;
    height: 100px;
    width: 100px;
    background-color: rgb(39, 35, 35);
    border: none;
    color: #FFFFFF;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.attack,
.defence {
    margin-top: 12.6%;
    display: none;
    padding: 15px 25px;
    font-size: 44px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.attack:active,
.defence:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.banniere {
    display: flex;
    justify-content: center;
}

.image-banniere {
    block-size: 250px !important;
}

.ryu-infos {
    height: 50%
}

.ken-infos {
    height: 50%;
}

.card-body {
    padding: auto !important;
}

ol {
    margin-left: -22px;

}

.row {
    display: flex;
    justify-content: center;
    margin: 10px !important;
    padding: auto !important;

}

#base {
    justify-content: center;
    display: grid;
    grid-auto-flow: column;

}

img {
    justify-content: center;
    margin: 2px;
}