@font-face {
    font-family: ARCADE;
    src: url(../css/ARCADE.TTF);
  }
  
 
  
.page{
background-color: black;
text-align: center;
z-index: 10;
position: relative;
height: 100%;
width: 100%;
font-family: ARCADE;
font-size: 28px;
 
}
span{
    color: red;
}
h4{
    font-size: 48px !important;
}
.jouez {
    z-index: 100;
    position: absolute;
    margin-top: 12.6%;
    height: 100px;
    width: 100px;
    background-color: rgb(39, 35, 35);
    border: none;
    color: #FFFFFF;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}


  
.banniere{ 
display: flex;
justify-content: center;
}
.image-banniere{
    block-size: 250px !important;
}
.ryu-infos {
height: 50%;
 
}
.ken-infos {
height: 50%;
   
}
.card-body{
    padding: 0px !important;
}
ol{
    margin-left: -7px;

}
.row{
    display:flex;
    justify-content: center;
}
       

#base{

    justify-content: center;
    display: grid;
    grid-auto-flow: column;
}
img{
    justify-content: center;
    margin: 2px;
}
